.main-sidebar.left{
    position:fixed;
}

.home-icon{
    font-size: 150px !important;
}

.soft-key{
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.word-demo{
    font-size: 70px;
}

.character{
    color:grey;
}