.main-sidebar.left {
    position: fixed;
}

.home-icon {
    font-size: 150px !important;
}

.soft-key {
    width: 50px;
    height: 50px;
    margin-left: 15px;
}

.word-demo {
    font-size: 70px;
}

.character {
    color: grey;
}

.input-answer {
    text-align: center;
    letter-spacing: 3px;
    color: #0f9df7;
    font-size: 300%;
    width: 60%;
    margin: 1%;
    border: none;
    border-bottom: 2px solid #0f9df7;
}

.input-answer-box input:focus, textarea:focus, select:focus {
    outline: none;
}

.keyboard {
    width: 100%;
}

.keyboard .key {
    float: left;
    width: 10%;
    margin-bottom: 3%;
}

.keyboard .key button {
    width: 70%;
    font-size: 130%;
    white-space: pre;
}