<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">新课程</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to '主页', home_index_path  %></li>
        <li class="breadcrumb-item active">新课程</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>






<%unless params[:version]  %>
    <h2>请选择教材版本</h2>













    <%end%>
<%= render 'form', lesson: @lesson %>

<%= link_to 'Back', lessons_path %>








<script>
    $('#sidebar-lessons, #sidebar-lessons-list').addClass('active');
</script>