<div class="row">
  <div class="col-xl-12">
    <div class="breadcrumb-holder">
      <h1 class="main-title float-left">课程注册</h1>
      <ol class="breadcrumb float-right">
        <li class="breadcrumb-item">   <%= link_to '主页', home_index_path  %></li>
        <li class="breadcrumb-item active">课程注册</li>
      </ol>
      <div class="clearfix"></div>
    </div>
  </div>
</div>



<%= render 'form', lesson: @lesson %>










<script>
    $('#sidebar-lessons, #sidebar-lessons-new').addClass('active');
</script>