<section class="content-header">
  <h1>
    新增单词
  </h1>
  <ol class="breadcrumb">
    <li>

      <%= link_to home_index_path do %>
          <i class="fa fa-dashboard"></i> 主页

      <% end %>

    </li>
    <li><%= link_to '单词管理', words_path %></li>
    <li class="active">新增单词</li>
  </ol>
</section>


<section class="content">




        <%= render 'form', word: @word %>



  <!-- /.box -->
</section>



<script>
    $('#sidebar-words, #sidebar-words-new').addClass('active');
</script>
