<nav class="navbar navbar-dark bg-dark">


  <%= link_to home_index_path, class: 'navbar-brand' do %>
      <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      智能记忆

  <% end %>

</nav>