

<div class="left main-sidebar">

  <div class="sidebar-inner leftscroll">

    <div id="sidebar-menu">

      <ul>
        <li class="submenu">
          <%= link_to root_path do %>
              <i class="fa fa-fw fa-bars"></i><span> 个人中心 </span>
          <% end %>
        </li>


        <li class="submenu">
          <a href="#" id="sidebar-words"><i class="fa fa-fw fa-font"></i> <span> 单词管理 </span> <span class="menu-arrow"></span></a>
          <ul class="list-unstyled">
            <li id="sidebar-words-new">
              <%= link_to '添加单词', new_word_path %>
            </li>

            <li id="sidebar-words-list">
              <%= link_to '单词列表', list_words_path %>
            </li>

          </ul>
        </li>
      </ul>

      <div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>

  </div>

</div>

